@font-face {
  font-family: aBlackLives;
  src: url(../public/aBlackLives.woff);
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  padding: 0;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vh;
  min-height: 100vh;
  background-color: gray;
}

.jquery-ripples canvas {
  filter: opacity(100%);
}

#time {
  font-size: 12vw;
  font-family: aBlackLives, sans-serif;
  text-align: center;
  alignment-baseline: center;
  padding-top: 40vh;
  color: white;
  opacity: 75%;
}