@font-face {
  font-family: aBlackLives;
  src: url(../public/aBlackLives.woff);
}

@keyframes squigglevision {
  /*right*/
  0% {
    filter: url("#turbulence-right-1");
  }
  25% {
    filter: url("#turbulence-right-2");
  }
  50% {
    filter: url("#turbulence-right-3");
  }
  75% {
    filter: url("#turbulence-right-4");
  }
  100% {
    filter: url("#turbulence-right-5");
  /*  left*/

  }0% {
    filter: url("#turbulence-left-1");
  }
  25% {
    filter: url("#turbulence-left-2");
  }
  50% {
    filter: url("#turbulence-left-3");
  }
  75% {
    filter: url("#turbulence-left-4");
  }
  100% {
    filter: url("#turbulence-left-5");
  }

}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  padding: 0;
  background: transparent;
}

.right {
  float: right;
  width: 500px;
  height : 800px;
  border: 3px solid #73AD21;
  animation: squigglevision 0.4s infinite alternate;
  padding: 10px;
}
.left {
  float: left;
  width: 500px;
  height : 800px;
  border: 3px solid #73AD21;
  padding: 10px;
}
right-side {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  min-width: 512px;
  min-height: 100vh;
  background-color: gray;
}

svg {
  display: none;
}

.jquery-ripples canvas {
  filter: opacity(100%);
}

#time {
  font-size: 12vw;
  font-family: aBlackLives, sans-serif;
  text-align: center;
  alignment-baseline: center;
  padding-top: 40vh;
  color: white;
  opacity: 75%;
}
