@font-face {
  font-family: aBlackLives;
  src: url(../public/aBlackLives.woff);
}

@keyframes squigglevisionRight {
  /*right*/
  0% {
    filter: url("#turbulence-right-1");
  }
  25% {
    filter: url("#turbulence-right-2");
  }
  50% {
    filter: url("#turbulence-right-3");
  }
  75% {
    filter: url("#turbulence-right-4");
  }
  100% {
    filter: url("#turbulence-right-5");
  }
}

@keyframes squigglevisionLeft {
  /*  left*/
  0% {
     filter: url("#turbulence-left-1");
   }
  25% {
    filter: url("#turbulence-left-2");
  }
  50% {
    filter: url("#turbulence-left-3");
  }
  75% {
    filter: url("#turbulence-left-4");
  }
  100% {
    filter: url("#turbulence-left-5");
  }
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  padding: 0;
  background: transparent;
}

.right {
  float: right;
  width: 50vw;
  height : 100vh;
  animation: squigglevisionRight 0.4s infinite alternate;

}

.left {
  float: left;
  width: 50vw;
  height : 100vh;
  animation: squigglevisionLeft 0.4s infinite alternate;
}

right-side {
  display: block;
}

div.col-md{
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  min-width: 512px;
  min-height: 100vh;
  background-color: gray;
}

svg {
  display: none;
}

.jquery-ripples canvas {
  filter: opacity(100%);
}

canvas{
  padding: 0;
}

img{
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 20px;
  background-position: center;
}

img.airplane{
  position: absolute;
  left: 22.5%;
  bottom: 15%;
  background-position: center;
  width: 55%;
  height: 30%;
  opacity: 75%;
}

.time {
  position: relative;
  top: 30vh;
  font-size: 8vw;
  font-family: aBlackLives, sans-serif;
  text-align: center;
  vertical-align: center;
  alignment-baseline: center;
  color: white;
  opacity: 75%;
}

.city
{
  position: relative;
  top: 30vh;
  font-size: 6vw;
  font-family: aBlackLives, sans-serif;
  text-align: center;
  color: white;
  opacity: 75%;
}

